## Mi primer codigo

In [2]:
import pandas as pd
base={
    "nombres":['Irvin','Brenda','Dilan','Jaime'],
    "edades":[33,30,29,62]
}
df=pd.DataFrame(base)
df.head()

  nombres  edades
0   Irvin      33
1  Brenda      30
2   Dilan      29
3   Jaime      62

In [3]:
df.loc[3,"nombres"]="Maru"
df.loc[3,"edades"]=59
df

  nombres  edades
0   Irvin      33
1  Brenda      30
2   Dilan      29
3    Maru      59