In [ ]:
import pandas as pd #? Usar la palabra import

In [26]:
data = {'product_id': [101, 102, 103],
        'product_name': ['Laptop', 'Smartphone', 'Tablet'],
        'price': [1500,800,300],
        'category': ['Electronics', 'Electronics', 'Electronics']}

In [ ]:
df=pd.DataFrame(data) 
#?Clase plantilla para crear un objeto
#DataFrame toma dos argumentos data (lista) y columns (nombres de las columnas),

In [28]:
data_dtype=df.dtypes
data_comlumns=df.columns
data_shape=df.shape

In [29]:
print(f"{data_dtype}")

product_id       int64
product_name    object
price            int64
category        object
dtype: object

In [30]:
print(f"{data_comlumns}")

Index(['product_id', 'product_name', 'price', 'category'], dtype='object')

In [31]:
df.head()

   product_id product_name  price     category
0         101       Laptop   1500  Electronics
1         102   Smartphone    800  Electronics
2         103       Tablet    300  Electronics

In [32]:
print(f"{data_shape}")

(3, 4)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    3 non-null      int64
 1   product_name  3 non-null      object
 2   price         3 non-null      int64
 3   category      3 non-null      object
dtypes: int64(2), object(2)
memory usage: 224.0+ bytes