In [6]:
'''
Importa pandas para poder acceder a la librería con pd. Crea una lista anidada, music, con cuatro elementos.
Cada sublista debe almacenar dos valores de tipo string: artista y nombre de la canción.

'Bob Dylan' — 'Like A Rolling Stone'
'John Lennon' — 'Imagine'
'The Beatles' — 'Hey Jude'
'Nirvana' — 'Smells Like Teen Spirit'

'''

"\nImporta pandas para poder acceder a la librería con pd. Crea una lista anidada, music, con cuatro elementos.\nCada sublista debe almacenar dos valores de tipo string: artista y nombre de la canción.\n\n'Bob Dylan' — 'Like A Rolling Stone'\n'John Lennon' — 'Imagine'\n'The Beatles' — 'Hey Jude'\n'Nirvana' — 'Smells Like Teen Spirit'\n\n"

In [7]:
import pandas as pd
music=[
    ['Bob Dylan','Like a Rolling Stone'],
    ['John Lennon','Imagine'],
    ['The Beatles','Hey Judge'],
    ['Nirvana','Smells Like Teen Spirit']
]
titles=['Cantante','Cancion']


music2={
    "SINGER":['Bob Dylan','John Lennon','The Beatles','Nirvana'],
    "SING":['Like a Rolling Stone','Imagine','Hey Judge','Smells Like Teen Spirit']
}

In [3]:
df=pd.DataFrame(data=music,columns=titles)
df2=pd.DataFrame(music2)

In [8]:
df.head()

      Cantante                  Cancion
0    Bob Dylan     Like a Rolling Stone
1  John Lennon                  Imagine
2  The Beatles                Hey Judge
3      Nirvana  Smells Like Teen Spirit

In [9]:
df2.head()

        SINGER                     SING
0    Bob Dylan     Like a Rolling Stone
1  John Lennon                  Imagine
2  The Beatles                Hey Judge
3      Nirvana  Smells Like Teen Spirit