<div style="display:flex; justify-content:space-around;">
    <img src="./imagenes/5.jpg" width=350/>
    <img src="./imagenes/6.jpg" width=350/>
    <img src="./imagenes/7.jpg" width=350 />
</div>

### ***Es muy similar a lo que ando viendo con pandas y sus arrays ***

np.mean()  np.mean()  np.median()

# **Contar y sumar**

In [22]:
import pandas as pd
df=pd.read_excel("C:\ESCOM\Code\DatasScience_TripleTen\sprint3\datos_profesionales.xlsx")

In [23]:
df.head()

,Nombre,Edad,Ingresos (MXN),Carrera,Trabajo
0,Javier Sánchez,25,44970,Gastronomía,Contador
1,Luis García,52,64178,Comunicación,Desarrollador de Software
2,Ana Gómez,23,113059,Relaciones Internacionales,Diplomático
3,Ana Ramírez,29,96262,Diseño Gráfico,Diplomático
4,José Martínez,43,46338,Gastronomía,Abogado Corporativo

In [34]:
df_edades_promedio=df["Edad"].mean()
print(f"El promedio de las edades es de {df_edades_promedio}")

El promedio de las edades es de 42.748

In [37]:
df_edad_sum=df["Edad"].sum()
print(f"La suma de las edades es: {df_edad_sum}")

La suma de las edades es: 21374

In [47]:
df_ingresos_min=df["Ingresos (MXN)"].min()
print(f"El minimo de los ingresos es de {df_ingresos_min}")
#Funciona con median min max std

El minimo de los ingresos es de 10051

In [54]:
df_arquitectos_salario_promedio=df.loc[df["Trabajo"]=="Desarrollador de Software"]["Ingresos (MXN)"].mean()
print(f"El promedio de los salarios de los que trabajan como Desarrollador de software es de {df_arquitectos_salario_promedio}")

El promedio de los salarios de los que trabajan como Desarrollador de software es de 81135.21428571429