In [38]:
import pandas as pd

In [50]:
music=[
    ['Caloncho','Wacha Checa'],
    ['Amy Wine House','Back to Black'],
    ['Lana Del Rey','Cinamon Girl'],
    ['Billie Elish','Chihiro']
]
music2={
    "Singer":['Caloncho','Amy Wine House','Lana Del Rey','Billie Elish'],
    "Sing":['Wacha Checa','Back to Black','Cinamon Girl','Chihiro']
}

title=['El Cantante','La Cancion']

In [51]:
df=pd.DataFrame(data=music,columns=title)
df.head()

      El Cantante     La Cancion
0        Caloncho    Wacha Checa
1  Amy Wine House  Back to Black
2    Lana Del Rey   Cinamon Girl
3    Billie Elish        Chihiro

In [52]:
df2=pd.DataFrame(music2)
df2.head()

           Singer           Sing
0        Caloncho    Wacha Checa
1  Amy Wine House  Back to Black
2    Lana Del Rey   Cinamon Girl
3    Billie Elish        Chihiro